html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0px;
  margin: 0px;
  background-image: url("../images/background.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
}

.character{
  width: 100px;
  height: 100px;
  background:rgba(0,0,0,0.0);
}

.life {
  height: 20px;
  display: flex;
  position: absolute;
  z-index: 10;
}

.life p {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
}

.lifebox {
  width: 20px;
  height: 20px;
  background-color: blueviolet;
  margin: 1px;
  margin-top: 15%;
}

#mainscreen {
  width: 70%;
  margin: 0 auto;
}

#maintitle {
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  margin: 0 auto;
  font-size: 16em;
  margin-bottom: 0;
  text-align: center;
}

#maintitle p {
  margin-top: 5%;
  margin-bottom: 0;
}

#startbutton {
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  margin-top: 0;
  margin: 0 auto;
  font-size: 8em;
  text-align: center;
}

#winsign {
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  margin-top: 0;
  margin: 0 auto;
  font-size: 8em;
  text-align: center;
}